In [2]:
import logging
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 22})
import datetime
from numpy.random import MT19937
from numpy.random import RandomState, SeedSequence
rs = RandomState(MT19937(SeedSequence(123456789)))

In [5]:
10 * np.random.random(size=2)/ 10 * np.random.random(size=2)

array([0.36291008, 0.34596865])

In [6]:
def simulate_ride_distances():
    logging.info('Simulating ride distances ...')
    ride_dists = np.concatenate(
        (
            10 * np.random.random(size=370),
            30 * np.random.random(size=10),  # long distances
            10 * np.random.random(size=10),  # same distance
            10 * np.random.random(size=10)  # same distance
        )
    )
    return ride_dists

In [12]:
ride_dists = simulate_ride_distances()
ride_dists.shape

(400,)

In [7]:
def simulate_ride_speeds():
    logging.info('Simulating ride speeds ...')
    ride_speeds = np.concatenate(
        (
            np.random.normal(loc=30, scale=5, size=370),
            np.random.normal(loc=30, scale=5, size=10), # same speed
            np.random.normal(loc=50, scale=10, size=10), # high speed
            np.random.normal(loc=15, scale=4, size=10) #low speed
        )
    )
    return ride_speeds

In [9]:
ride_dists = simulate_ride_distances()
ride_speeds = simulate_ride_speeds()
ride_times = ride_dists/ride_speeds

In [10]:
df = pd.DataFrame(
        {
            'ride_dist': ride_dists,
            'ride_time': ride_times,
            'ride_speed': ride_speeds
        }
    )

In [13]:
df.head()

   ride_dist  ride_time  ride_speed
0   1.673642   0.039879   41.968195
1   7.830366   0.245101   31.947554
2   3.838517   0.101725   37.734316
3   5.523053   0.250986   22.005420
4   5.780002   0.259880   22.241025

In [15]:
df.shape

(400, 3)

In [17]:
datetime.datetime.now().strftime("%Y%m%d"), df.index.astype(str)

('20241008',
 Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
        ...
        '390', '391', '392', '393', '394', '395', '396', '397', '398', '399'],
       dtype='object', length=400))

In [18]:
datetime.datetime.now().strftime("%Y%m%d") + df.index.astype(str)

Index(['202410080', '202410081', '202410082', '202410083', '202410084',
       '202410085', '202410086', '202410087', '202410088', '202410089',
       ...
       '20241008390', '20241008391', '20241008392', '20241008393',
       '20241008394', '20241008395', '20241008396', '20241008397',
       '20241008398', '20241008399'],
      dtype='object', length=400)

In [19]:
type(datetime.datetime.now().strftime("%Y%m%d")), type( df.index.astype(str) )

(str, pandas.core.indexes.base.Index)